[user]
	name = Yiyao Wei
	email = yiyao.wei@icloud.com
  signingkey = 5B24EE1E0D0CC51C
[github]
	user = hotthoughts
[core]
	autocrlf = input
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	precomposeUnicode = true
[credential]
	helper = osxkeychain
[color]
	ui = auto
	branch = auto
[init]
	defaultBranch = main
[branch]
	autosetuprebase = local
[fetch]
	prune = true
[push]
	default = simple
[pull]
	twohead = ort
[diff]
	colorMoved = default
[rerere]
	enabled = 1
	autoupdate = 1
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[delta]
	features = line-numbers decorations
 	line-numbers = true
 	navigate = true
	syntax-theme = Nord
[interactive]
	diffFilter = delta --color-only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
