[user]
	name = {{ .name }}
	email = {{ .email }}
  signingkey = {{ .signingkey }}
[github]
	user = {{ .github }}
[core]
	autocrlf = input
	editor = {{ .editor }}
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = hunk pager
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	precomposeUnicode = true
[credential]
	helper = osxkeychain
[color]
	ui = auto
	branch = auto
[init]
	defaultBranch = main
[branch]
	autosetuprebase = local
[commit]
  gpgsign = true
[fetch]
	prune = true
[push]
	default = simple
[pull]
	twohead = ort
[diff]
	colorMoved = default
[rerere]
	enabled = 1
	autoupdate = 1
[pager]
	diff = hunk pager
	log = hunk pager
	reflog = hunk pager
	show = hunk pager
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[submodule]
	recurse = true
