{{- if (eq .chezmoi.os "darwin") -}}

#!/bin/bash

# Apple development skd
xcode-select --install

# homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# homebrew recipes
brew bundle --no-lock --file=./Brewfile

# fisher
curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
fisher update

{{ end -}}
