{
  "agent_buffer_font_size": 12.0,
  "agent_ui_font_size": 12.0,
  "cli_default_open_behavior": "existing_window",
  "project_panel": {
    "dock": "right"
  },
  "outline_panel": {
    "dock": "right"
  },
  "collaboration_panel": {
    "dock": "right"
  },
  "diff_view_style": "unified",
  "profiles": {
    "Presenting": {
      "settings": {
        "agent_buffer_font_size": 18.0,
        "buffer_font_size": 18.0,
        "ui_font_size": 18.0
      }
    },
  },
  "which_key": {
    "delay_ms": 300,
    "enabled": true,
  },
  "agent_servers": {
    "opencode": {
      "type": "registry"
    },
    "claude-acp": {
      "type": "registry",
    },
  },
  "session": {
    "trust_all_worktrees": false,
  },
  "tabs": {
    "file_icons": true,
  },
  "context_servers": {
    "mcp-server-linear": {
      "enabled": true,
      "remote": false,
      "settings": {
        "linear_api_key": "{{ keyring "chezmoi-linear" "api_key" }}",
      },
    },
    "mcp-server-github": {
      "enabled": true,
      "settings": {
        "github_personal_access_token": "{{ keyring "chezmoi-github" "pat" }}",
      },
    },
    "mcp-server-context7": {
      "enabled": true,
      "settings": {},
    },
  },
  "ssh_connections": [
    {
      "host": "raspberryzero",
      "username": "pi",
      "args": [],
      "projects": [
        {
          "paths": ["/home/pi"],
        },
      ],
    },
    {
      "host": "raspberry",
      "args": [],
      "projects": [
        {
          "paths": ["/home/pi/infra"],
        },
      ],
    },
  ],
  "edit_predictions": {
    "provider": "copilot",
    "mode": "eager",
    "copilot": {
      "proxy": null,
      "proxy_no_verify": null,
      "enterprise_uri": null,
    },
    "enabled_in_text_threads": false,
  },
  "ui_font_family": "SF Pro",
  "ui_font_size": 12.0,
  "icon_theme": "Symbols Icon Theme",
  "git_panel": {
    "dock": "right",
  },
  "agent": {
    "dock": "left",
    "tool_permissions": {
      "default": "allow",
    },
    "profiles": {
      "write": {
        "name": "Write",
        "tools": {
          "search_web": true,
          "open": true,
          "copy_path": true,
          "create_directory": true,
          "create_file": true,
          "delete_path": true,
          "diagnostics": true,
          "edit_file": true,
          "fetch": true,
          "list_directory": true,
          "move_path": true,
          "now": true,
          "find_path": true,
          "read_file": true,
          "grep": true,
          "terminal": true,
          "thinking": true,
        },
        "enable_all_context_servers": true,
        "context_servers": {
          "mcp-server-context7": {
            "tools": {
              "resolve-library-id": true,
              "get-library-docs": true,
            },
          },
        },
      },
    },
    "inline_assistant_model": {
      "provider": "copilot_chat",
      "model": "gpt-4.1",
    },
    "default_profile": "write",
    "default_model": {
      "effort": "high",
      "enable_thinking": true,
      "provider": "copilot_chat",
      "model": "gemini-3.1-pro-preview",
    },
    "model_parameters": [],
  },
  "base_keymap": "VSCode",
  "buffer_font_size": 12.0,
  "buffer_font_family": "Operator Mono Lig",
  "buffer_font_fallbacks": ["Hack Nerd Font"],
  "theme": {
    "mode": "dark",
    "light": "Catppuccin Espresso (Blur)",
    "dark": "Halcyon",
  },
  "languages": {
    "YAML": {
      "format_on_save": "off",
      "formatter": "language_server",
    },
  },
  "vim_mode": true,
  "vim": {
    "use_system_clipboard": "always",
    "use_smartcase_find": true,
    "toggle_relative_line_numbers": true,
  },
  "experimental.theme_overrides": {
    "players": [
      {
        "cursor": "#ff5f00",
        "background": "#ff5f00ff",
        "selection": "#ff5f003d",
      },
    ],
  },
  "terminal": {
    "blinking": "on",
    "font_family": "Operator Mono Lig",
  },
  "autosave": "on_focus_change",
  "inline_code_actions": true,
  "symbols.folders.associations": {
    "infra": "folder-purple-code",
    "static": "folder-constants",
    "backup": "folder-gray",
    "cluster": "folder-config",
    "dev": "folder-green",
    "staging": "folder-yellow",
    "production": "folder-red",
  },
  "lsp": {
    "yaml-language-server": {
      "settings": {
        "yaml": {
          "keyOrdering": false,
          "schemas": {
            "https://json.schemastore.org/bower.json": ["/*"],
            "../relative/path/schema.json": ["/config*.yaml"],
          },
        },
      },
    },
  },
}
