[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[signing]
behavior = "own"
backend = "gpg"
key = {{ .signingkey | quote }}

[ui]
editor = {{ .editor | quote }}
pager = "delta"
diff-ingstructions = false
diff-editor = ":builtin"
diff-formatter = ":git"

[aliases]
mine = ["bookmark", "list", "-r", "mine()"]
tug = [
  "bookmark",
  "move",
  "--from",
  "closest_bookmark(@)",
  "--to",
  "closest_pushable(@)",
]
rebase-all = ["rebase", "-s", "all:roots(trunk()..mutable())", "-d", "trunk()"]
# Run pre-commit checks before pushing (only on jj-tracked changed files)
pre-commit = [
  "util",
  "exec",
  "--",
  "fish",
  "-c",
  "jj diff -r @ --name-only --no-pager | xargs pre-commit run --files",
]
push = ["util", "exec", "--", "fish", "-c", "jj pre-commit && jj git push"]
push-pr = ["util", "exec", "--", "fish", "-c", "jj pre-commit && jjpr"]

[templates]
git_push_bookmark = '"yw/push-" ++ change_id.short()'

[git]
private-commits = 'blacklist()'
auto-local-bookmark = false
sign-on-push = true
colocate = true

[snapshot]
auto-update-stale = true

[revset-aliases]
'wip()' = 'description(glob:"wip:*")'
'private()' = 'description(glob:"private:*")'
'blacklist()' = 'wip() | private()'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & ~description(exact:"") & (~empty() | merges()))'
