[user]
name = "Yiyao Wei"
email = "26658608+HotThoughts@users.noreply.github.com"

[signing]
behavior = "own"
backend = "gpg"
key = "661599B30906EEBE"

[aliases]
mine = ["bookmark", "list", "-r", "mine()"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
rebase-all = ["rebase", "-s", "all:roots(trunk()..mutable())", "-d", "trunk()"]
# Run pre-commit checks before pushing (only on jj-tracked changed files)
pre-commit = [
  "util",
  "exec",
  "--",
  "fish",
  "-c",
  "jj diff -r @ --name-only --no-pager | xargs pre-commit run --files",
]
push = ["util", "exec", "--", "fish", "-c", "jj pre-commit && jjpr "]

[templates]
git_push_bookmark = '"yw/push-" ++ change_id.short()'

[git]
private-commits = 'blacklist()'
auto-local-bookmark = false
sign-on-push = true
colocate = true

[snapshot]
auto-update-stale = true

[revset-aliases]
'wip()' = 'description(glob:"wip:*")'
'private()' = 'description(glob:"private:*")'
'blacklist()' = 'wip() | private()'
