{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  codespaces = {{ $codespaces }}
  {{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
  email = "yiyao.wei@icloud.com"
  {{- else }}{{/* Interactive setup, so prompt for an email address */}}
  email = {{ promptString "email" | quote }}
  {{- end }}
